
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overscroll-behavior: none;
}

body {
  font-family: 'Google Sans', sans-serif;
  box-sizing: border-box;
  background-color: var(--bg);
  color: var(--text);
  overscroll-behavior: none;
}
:root {
  --bg: #fff;
  --text: #302f2f;
}

[data-theme="dark"] {
  --bg: #0e1217;
  --text: #d8dce7;
}

